.container {
    width: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 170px 50px auto 50px 50px;
}

.header{
    background-image: url("content/desktop_header.png");
    background-repeat:no-repeat;
    background-position: left;
    background-color:white;
    margin-top: -5px;
    margin-left:-10px;
    width: 100%;
    grid-column: 1 / 6;
    }

.nav{
        grid-column: 1 / 6;
        width: 120%;
        margin-left:-10px;    
}

.main{
background-color: white;
grid-column: 1/ 5;
font-family: 'Poppins', sans-serif;
font-size: 12px;
padding-top: 10px;
padding-left:50px;
padding-right:10px;
width: 100%;
}

.widget{
    background-color: lightgray;
    grid-column: 5 / 5;
    width: 120%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-top: -13px;
}


.footer{
    background-color:#267230;
    position: fixed;
    bottom:0;
    width: 102%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: white;
    padding: 10px 0;
    margin-left:-10px;
    text-align: center;
    grid-column: 1 / 5;
    }

.h1{
color: rgb(80, 80, 80);
font-style: bold;
font-size: 13px;
}

.h2{
    color: rgb(80, 80, 80);
    font-style: bold;
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    }

/* menu */

ul {
    list-style-type: none;
    margin: -5px;
    padding-left: 300px;
    overflow: hidden;
    background-color:  #267230;
    }
  
  li {
      float:left;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      padding:10px;
      padding-right:40px;
      padding-left:40px;
      text-decoration: none;
  }
  
  li a:hover {
      background-color:#19491f;
  }

/* flexbox */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

.box-index{
    height: 200px;
    width: 380px;
}

.box-index1{
    height: 300px;
    width: 370px;
    margin-left: 30px;
}

/*flexbox about page*/
  
.box-about{
    height: 150px;
    width: 980px;
}

.box-about1{
    height: 400px;
    width: 315px;
  
}
.box-about2{
    height: 400px;
    width: 315px;
    
}

.box-about3{
    height: 775px;
    width: 315px;
   
}

.img{
    margin-top: 20px;
    margin-left:20px;
}

.img1{
    margin-top: 40px;
    margin-left:20px;
}

.img2{
    margin-top: 110px;
    margin-left:20px;
}


/*flexbox get involveld page*/

.box-getinvolved{
      height: 200px;
      width: 450px;
  }
  
.box-getinvolved1{
      height: 300px;
      width: 470px;
      margin-left: 30px;
  }

 


/* contact */

.contact{
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom:70px;
    margin-left: -10px;
    margin-bottom:-90px;
    margin-top:-13px;
    margin-right:-10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    grid-column: 1/6;
    }

    .form-style{
        background: #FAFAFA;
        max-width:570px;
        padding: 30px;
        margin-left: 380px;
        border-radius: 10px;
        border: 3px solid #267230;
    }
    
    .form-style [type="text"]{
        display: inline-block;
        margin-bottom: 5px;
        min-height: 35px;
        box-sizing: border-box; 
        padding: 8px;
        outline: none;
        border: none;
        background-color:lightgray;
    }

    .form-style [type="url"]{
        display: block;
        min-height: 35px;
        box-sizing: border-box; 
        border: none;
        background-color:lightgray;
    }

    .form-style [type="date"]{
        display: block;
        min-height: 35px;
        box-sizing: border-box; 
        padding: 8px;
        border: none;
        background-color:lightgray;
    }
    
    .form-style [type="message"]{
        display: block;
        width:450px;
	    height:100px;
        margin-bottom: 5px;
        min-height: 35px;
        box-sizing: border-box; 
        padding: 8px;
        border: none;
        background-color:lightgray;
    }

     
    .form-style [type="submit"] {
        background-color: #267230;
        border: 1px solid #19491f;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
    }
     
    .form-style [type="submit"]:hover {
        background-color: #19491f;
    }

    .form-style [type="reset"] {
        background-color: #797c7a;
        border: 1px solid #434644;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        padding: 8px 18px;
        text-decoration: none;
        font: 12px Arial, Helvetica, sans-serif;
    }

    .form-style [type="reset"]:hover {
        background-color: #434644;
    }